@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";

:root {
  --primary-text: #2E2E2E;
  --secondary-text: #4CA04F;
  --primary-bg: #F5F5F5;
  --secondary-bg: #EEFBEE;
  --primary-btn: #7AC331;
  --outline: #D7D7D7;
  --accent: #70BD24;
  --error: #FF2424;
  --success: #00D000;
} 

html, body {
  background: var(--primary-bg);
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.font-family{font-family: Montserrat;}
.font-heading{font-family: Merriweather;}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rbc-toolbar button {
  padding: 10px 20px;
  transition: all 300ms;
  color: var(--primary-text);
}
.rbc-toolbar button.active {
  color: white;
  background-color: var(--primary-btn);
}
.rbc-toolbar button.rbc-active, .rbc-toolbar button:hover, .rbc-toolbar button.rbc-active:hover {
  background-color: var(--primary-btn);
  box-shadow: none;
  color: white;
}
.rbc-today {
  background-color: color-mix(in srgb, var(--accent) 15%, transparent);
  color: white;
} 
.dark-mode .rbc-off-range-bg{background: var(--secondary-bg);}
.no-scrollbar {
  scrollbar-width: none; 
}

@media (max-width: 1024px) {
  .rbc-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}


.bordir{border: 1px solid red;}